body {
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("background.jpg");*/
    background-size: cover;
}

tbody td:nth-of-type(even){
    background: #f2f2f2;
}

.dbExceptionGif {
    width: 650px;
}