<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ruben's Project</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../../static/css/style.css" media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:insert="~{fragments/header::header}">header</div>

<div th:insert="~{fragments/navbar::navbar}">navbar</div>

<h3 class="m-4 text-center h3" th:utext="#{architectDetail.h3}">Architect detail page</h3>

<nav aria-label="breadcrumb" class="m-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="link-dark" th:href="@{/architects}" th:utext="#{architectDetail.bc}">Architects</a>
        </li>
        <li aria-current="page" class="breadcrumb-item active"><span th:text="${architect.getNameCompany()}"></span>
        </li>
    </ol>
</nav>

<h2 class="m-4" th:text="${architect.getNameCompany()}">Company Name</h2>

<div class="container m-4">
    <div class="row row-cols-2 g-5">
        <div class="col">
            <h4 th:utext="#{architectDetail.date}">Establishment Date: </h4>
            <span th:text="${architect.getEstablishmentDate().toString()}">establishment date</span>
        </div>
        <div class="col">
            <h4 th:utext="#{architectDetail.employee}">Number of employees: </h4>
            <span th:text="${architect.getNumberOfEmployees()}">number of employees</span>
        </div>
    </div>
    <div class="row row-cols-1 g-5">
        <div class="col">
            <h4 th:utext="#{architectDetail.list}">List of buildings:</h4>
            <ul>
                <li th:each="building : ${architect.getBuildings()}" th:text="${building.getName()}"></li>
            </ul>
        </div>
    </div>
</div>

<div class="container m-4">
    <form action="/architects" method="post" th:object="${deletingViewModel}">
        <input hidden id="ID" name="ID" th:value="${architect.getId()}" type="text">
        <input class="btn btn-dark" name="delete" type="submit" value="Delete Architect">
    </form>
</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>