<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ruben's Project</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../../static/css/style.css" media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:insert="~{fragments/header::header}">header</div>

<div th:insert="~{fragments/navbar::navbar}">navbar</div>

<h3 class="m-4 text-center h3" th:utext="#{buildingDetail.h3}">Building detail page</h3>

<nav aria-label="breadcrumb" class="mb-4 mx-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a class="link-dark" th:href="@{/buildings}" th:utext="#{buildingDetail.bc}">Buildings</a>
        </li>
        <li aria-current="page" class="breadcrumb-item active "><span th:text="${building.getName()}"></span></li>
    </ol>
</nav>

<h2 class="m-4" th:text="${building.getName()}">Building Name</h2>

<div class="container m-4">
    <div class="row row-cols-2 g-5">
        <div class="col">
            <h4 th:utext="#{buildingDetail.name}">Building name:</h4>
            <span th:text="${building.getName()}">building name</span>
        </div>
        <div class="col">
            <h4 th:utext="#{buildingDetail.location}">Location</h4>
            <span th:text="${building.getLocation()}">location</span>
        </div>
    </div>
    <div class="row row-cols-2 g-5">
        <div class="col">
            <h4 th:utext="#{buildingDetail.height}">Height:</h4>
            <span th:text="${building.getHeight()}">height</span>m
        </div>
        <div class="col">
            <h4 th:utext="#{buildingDetail.type}">Type:</h4>
            <span th:text="${building.getType()}">type</span>
        </div>
    </div>
    <div class="row row-cols-1 g-5">
        <div class="col">
            <h4 th:utext="#{buildingDetail.list}">List of architects:</h4>
            <ul>
                <li th:each="architect : ${building.getArchitects()}" th:text="${architect.getNameCompany()}"></li>
            </ul>
        </div>
    </div>
</div>

<div class="container m-4">
    <form action="/buildings" method="post" th:object="${deletingViewModel}">
        <input hidden id="ID" name="ID" th:value="${building.getId()}" type="text">
        <input class="btn btn-dark" name="delete" type="submit" value="Delete Building">
    </form>
</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>